* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFAFF;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #163440;
  color: #FFFAFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

header #category-select {
  border: none;
  background-color: #FFFAFF;
  border-radius: 3px;
  padding: 3px;
}

header #btn-cart {
  display: none;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid #163440;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__price {
  padding: 10px;
  text-align: center;
}

.item .item__add {
  background-color: #163440;
  border: 0;
  cursor: pointer;
  color: #FFFAFF;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  opacity: 0.8;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart #paragraph-cart {
  font-size: 14px;
  opacity: 0.7;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  margin-bottom: 10px;
}

.cart .empty-cart {
  margin-bottom: 10px;
  background-color: #A4B8BF;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.cart .empty-cart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cart__items {
  padding: 0;
  margin: 10px 0px;
}

.cart__item {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 2px solid grey;
}

.cart__item .cart-paragraph {
  margin-bottom: 10px;
}

.cart-img {
  margin-right: 20px;
  height: 50px;
  align-self: center;
}

@media screen and (max-width: 800px) {
  header #btn-cart {
    display: block;
  }

  header h1 {
    font-size: 24px;
  }

  .cart {
    display: none;
    flex-basis: 100%;
    flex-flow: column wrap;
    padding: 20px;
  }
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    height: 130px;
  }
}